/* Put new styles here to differentiate from the template file */

#countdown {
  outline: 12px solid #B3B3B3;
  outline-offset: 10px;
  background: #B3B3B3;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

#logo img {
  display: block;
	margin: 0 auto;
	max-width: 20%;
}

#intro {
	text-align: center;
}